$f1-red: #e10600;
$f1-yellow: #ffd700;
$f1-black: #15151e;
$f1-dark: #1f1f27;

$primary: $f1-red;
$warning: $f1-yellow;
$dark: $f1-dark;
$link: $f1-red;

$f1-tablet: 768px;
$f1-desktop: 1024px;
$f1-widescreen: 1216px;
